VITE_SUPABASE_URL=https://oirrcjgxczqqiorlypky.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9pcnJjamd4Y3pxcWlvcmx5cGt5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODM5MzQyOTQsImV4cCI6MjA5OTUxMDI5NH0.Yx_3QHGC5GnZMOz0pFAkuvBbvph9pCMA2_ijn5xSVl0
